/*  =========== Reset =========  */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* font */
@font-face {
  font-family: Roboto;
  src:
    url(./fonts/Roboto-400.woff) format(woff),
    url(./fonts/Pacifico-Regular.woff2) format(woff2);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Pacifico;
  src:
    url(./fonts/Pacifico-Regular.woff) format(woff),
    url(./fonts/Pacifico-Regular.woff2) format(woff2);
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

:root {
  --pri-accent: rgb(217, 176, 13);
  --sec-accent: rgb(131, 127, 83);
  --ter-accent: rgb(60, 70, 4);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --error-transparent: rgba(249, 12, 12, 0.2);
  --error: rgba(249, 12, 12);

  --transparent-white-xsm: rgba(255, 255, 255, 0.8);
  --transparent-white-sm: rgba(255, 255, 255, 0.5);
  --transparent-white-lg: rgba(255, 255, 255, 0.2);

  --transparent-black-xsm: rgba(0, 0, 0, 0.8);
  --transparent-black-sm: rgba(0, 0, 0, 0.5);
  --transparent-black-lg: rgba(0, 0, 0, 0.2);

  --sz-xxxsm: 1px;
  --sz-xxsm: 2px;
  --sz-xsm: 5px;
  --sz-sm: 10px;
  --sz-lg: 20px;
  --sz-xlg: 30px;
  --sz-xxlg: 60px;

  --bx-shadow: 0.5px 0.5px 5px var(--transparent-black-lg);
}

body {
  font-family: Roboto, arial;
  font-size: clamp(var(--sz-sm), var(--sz-sm) + 0.5vw, var(--sz-sm) + var(--sz-xsm));
  color: var(--white);
  position: relative;
  perspective: 300px;
  background: var(--ter-accent);
}

.container {
  max-width: 700px;
  padding: 0 var(--sz-lg);
  margin: 0 auto 0;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--sz-sm);
  align-items: center;
  padding: var(--sz-lg) 0;
}

.game-title {
  font-family: Pacifico, Arial, Helvetica, sans-serif;
  color: var(--transparent-white-xsm);
}

@keyframes toAndFro {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-70%);
  }
}

.pirateShip {
  position: absolute;
  opacity: 0.2;
  bottom: 0;
  animation: toAndFro 5000ms infinite alternate;
}

.sailingShip {
  position: absolute;
  opacity: 0.2;
  top: -400px;
  right: -130px;
  transform: scale(0.2);
}

.howToSetShipInstruction {
  color: var(--transparent-white-xsm);
}

.human {
  font-weight: 900;
}

.boards-section {
  border: var(--sz-lg) solid var(--pri-accent);
  box-shadow: var(--bx-shadow);
  height: 640px;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr max-content 1fr;
  position: relative;
}

.hide-player-ship {
  position: absolute;
  color: var(--black);
  transform: translateX(-50%);
  text-wrap: nowrap;
  cursor: pointer;
}

.toggle-player-one-ship {
  top: 0;
  left: 50%;
  top: -20px;
}

.toggle-player-two-ship {
  bottom: -20px;
  left: 50%;
}

.select-ship {
  display: flex;
  flex-wrap: wrap;
  border-left: var(--sz-xxsm) solid var(--transparent-black-lg);
  border: var(--sz-xsm) solid var(--pri-accent);
  box-shadow: var(--bx-shadow);
  background-color: var(--sec-accent);
}

.select-ship-cell {
  min-width: calc(100% / 10);
  min-height: calc(100% / 10);
  border: var(--sz-xxxsm) solid var(--transparent-white-sm);
  position: relative;
}

.select-ship-cell:nth-child(1n + 7) {
  border-top: none;
  border-top: none;
}

.select-ship-cell:nth-child(1n + 1) {
  border-left: none;
}

.shipImg {
  position: absolute;
  z-index: 90;
  bottom: 0;
  transform-origin: 0;
}

.pointerEventNone {
  pointer-events: none;
}

.inp_playerName {
  border-radius: var(--sz-xsm);
  padding: var(--sz-xsm);
  border: none;
  box-shadow: var(--bx-shadow);

  &:read-only {
    opacity: 0.8;
    background: var(--transparent-black-lg);
    color: var(--white);
  }

  &:focus {
    outline-color: var(--pri-accent);
  }
}

.submit-playerName {
  background: none;
  border: none;
}

.player-board {
  display: flex;
  flex-wrap: wrap;

  border: var(--sz-xxsm) solid var(--transparent-black-lg);
  background: var(--white);
}

.player-board-cell {
  min-height: calc(100% / 10);
  min-width: calc(100% / 10);
  border: 1px solid var(--transparent-black-lg);
  position: relative;
  display: flex;
}

.attackCellStatus {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 99;
}

.hinge {
  background-color: var(--pri-accent);
  text-align: center;
  padding: var(--sz-xxsm) var(--sz-xsm);
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-template-rows: 1fr;
  column-gap: var(--sz-sm);
  position: relative;
}

.playerMsg {
  position: absolute;
  background: var(--black);
  padding: var(--sz-xsm);
  border-radius: var(--sz-xsm);
  color: var(--error);
  font-weight: 900;
  transform: translateX(-50%) scale(1);
  transition: 300ms;
  box-shadow: var(--bx-shadow);

  max-width: 200px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  z-index: 100;
}

.playerOneMsg {
  transition: 300ms;
  top: -40px;
  left: 50%;
}

.playerTwoMsg {
  top: 53px;
  left: 50%;
}

.scaleTo0 {
  transform: translateX(-50%) scale(0);
}

.play,
.reset,
.play-again {
  background-color: var(--transparent-white-lg);
  color: var(--black);
  display: flex;
  align-items: center;
  padding: var(--sz-xsm) var(--sz-sm);
  border-radius: var(--sz-xsm);
  box-shadow: var(--bx-shadow);
  cursor: pointer;
  transition: 300ms;

  &:active {
    scale: 0.8;
  }
}

.winner-name {
  max-width: 100px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
  padding: var(--sz-sm);
  color: var(--black);
  font-weight: 900;
}

.select_computer_or_player2 {
  display: flex;
  column-gap: var(--sz-lg);
}

.check_player {
  display: flex;
  column-gap: var(--sz-xsm);
}

.rotate {
  transform: rotate(90deg) translateY(-50%) translateX(-14px);
}

.hide {
  display: none;
}

.visibilityHidden {
  visibility: hidden;
}
.bgColor {
  background-color: var(--transparent-black-lg);
}

/* 
Visualize computer ship

.player-2-board {
  [data-len='1'] {
    background: rgb(27, 71, 85);
  }
  [data-len='2'] {
    background: rgb(164, 181, 12);
  }
  [data-len='3'] {
    background: rgb(80, 23, 214);
  }
  [data-len='4'] {
    background: rgb(202, 8, 199);
  }
} */
